.menu{
  text-align: center;
  font-size: larger;
  z-index: 4;
  display: flex;
  list-style-type: none;
  justify-content:space-around;
  background-color: rgb(161, 31, 161);
  color: white;
}
.li{
  color: rgb(93, 95, 94);
  font-size: 20px;
}


